*{
    padding: 0;
    margin: 0;
    font-family: 'Questrial', sans-serif;
}
.container{
    width: 80%;
    margin: auto;
}
.section__header__header{
    background-color: #FFCB0F;
}
.section__header__content{
    display: flex;
    justify-content: space-between;
    padding: .7rem 0;
}
.section__header__content__item span{
    padding: 0 .5rem;
}
.section__header__content__icons span{
    padding: 0 .3rem;
    font-size: 1.2rem;
}

.navbar{
    background-color: #222533;
    color: #c9c9c9;
}
.navbar__content{
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
}
.navbar__logo h1{
    color: #fff;
    font-style: italic;
    font-size: 1.6rem;
}
.navbar__logo span{
    color: #FFCB0F;
}
/* .navbar__links{
    text-align: center;
} */
.toggle_menu{
    display: none;
}
.navbar__links li{
    display: inline-block;
    padding: 1rem .5rem;
    text-transform: capitalize;

}
.search_icon{
    color: #FFCB0F;
    font-size: 1.2rem;
}

/* 
hme section start */
.home{
    background-image: url('../images/banner.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
}
.home_Content{
    background-color: rgba(0, 0, 0, 0.6);
    height: auto;
    text-align: center;
    color: #ffffff;
    padding-top: 8rem;
}
.home_Content__p{
    font-size: 2rem;
    margin-bottom: 2rem;
}
.home_Content h1{
    font-size: 4rem;
    font-weight: 900;
    margin-bottom: 1rem;
}
.home_Content h1 span{
    color: #FFCB0F;
    font-size: 4.3;
}
.home_Content__paragraph{
    width: 65%;
    margin: 0 auto;
    line-height: 1.5rem;
    color: #c9c9c9;
    margin-bottom: 3rem;
}
.home_Content button{
    margin: .5rem .5rem 12rem .5rem;
    padding: 1rem 2rem;
    background-color: #000;
    color: #FFCB0F;
    border: 1px solid #FFCB0F;
    font-weight: 900;
    cursor: pointer;

    
}
.compnay__content__img{
     overflow: hidden;
}


/* compny start */
.company{
    margin: 1rem auto 3rem auto;
    display: grid;
    grid-template-columns: 60% 50%;
    grid-template-rows: auto;
}
.compnay__content{
    margin-top: 6rem;
    overflow: hidden;
}
.compnay__content h1{
    color: #FFCB0F;
    font-size: 3rem;
    font-weight: bolder;
}
.compnay__content h2{
    color: #484848;
    margin-bottom: 2rem;
    font-weight: bolder;
}
.compnay__content p{
   margin-bottom: 2rem;
   color: #484848;
   width: 80%;
}

.compnay__content button{
    background-color: #FFCB0F;
    color: #ffffff;
    padding: 1rem 2rem;
    border-radius: 1rem;
    font-weight: bold;
    border: none;
    font-size: 1rem;
    margin-bottom: 4rem;
}



/* choose start */
.choose{
    background-image: url('../images/bg4.jpg');
    height: auto;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}
.choose_content{
    background-color: rgba(0, 0, 0, 0.5);
    height: auto;
}
.choose_content h1{
    padding: 3.5rem 0 2rem 0;
    color: #FFCB0F;
    font-size: 2.5rem;
}
.choose_content header p{
    color: #ffffff;
    line-height: 1.5rem;
    width: 80%;
    margin: auto;
}
.choose__items{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: auto;
    column-gap: 1rem;
    margin: 4rem auto;
    padding-bottom: 3rem;
}
.choose_photo{
    background-color: #FFCB0F;
    border-radius: 100%;
    padding: 1rem 0;
    width: 40%;
    height: 30%;
    margin: auto;
    position: relative;
}
.choose_photo img{
    padding-top: .8rem;
}
.choose_photo__Content{
    background-color: rgba(0, 0, 0, 0.5);
    padding-top: 4rem;
    margin-top: -3rem;
    border-radius: 2rem;
}
.choose_photo__Content h2{
    color: #FFCB0F;
    font-size: 1.2rem;
}
.choose_photo__Content p{
    color: #ffffff;
    margin: 1rem auto;
    width: 70%;
    line-height: 1.3rem;
    padding-bottom: 2rem;
}


/* service start  */

.service{
    text-align: center;
}
.service h1{
    margin-top: 1rem;
    font-size: 1.9rem;
    margin-bottom: 3rem;
    font-weight: bolder;
}
.service_items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    column-gap: 1rem;
}
.service_item{
    text-align: left;
    margin-bottom: 8rem;
}
.service_img{
 position: relative;
 z-index: 0;


}
.service span{
    position: absolute;
    margin: -4rem auto;
    padding: 1rem 2.1rem;
    font-weight: bold;
    color: #ffffff;
    font-size: 1.5rem;
    z-index: 2;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
}
.service_items button{
    color: #ffffff;
    padding: 1rem 2rem;
    background-color: #FFCB0F;
    margin: 2rem auto;
    border: none;
    font-weight: bold;
    border-radius: .8rem;
}
.service p{
    margin: 1rem auto;
    line-height: 1.5;
    width: 100%;
    text-align: left;
    color: #484848;
}

/* love section */

.love{
    text-align: center;
    background-image: url('../images/bg2.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.love_content{
    background-color: rgba(11, 0, 0, 0.7);
    color: #ffffff;
}
.love_content h1{
    padding: 3rem 0;
    font-size: 2.5rem;
}
.love_content p{
    width: 83%;
    margin: auto;
    line-height: 1.5rem;
}
.love_content li{
    display: inline-block;
    padding: .7rem;
    margin: 2rem auto;
}
.list_active{
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 1rem;
}
.love__items{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    column-gap: 1rem;
}
.love__items__img{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows:  repeat(2, 1fr);
}


/* review section */

  
  .box2 {
    width: 300px;
    margin: 50px auto;
    border: none;
    padding: 20px;
    text-align: left;
    

    font-family: arial;
    position: relative;
    background-color: #E5E5E5;
  }
  
  .box2_active{
    width: 300px;
    margin: 50px auto;
    border: none;
    padding: 20px;
    text-align: left;
    

    font-family: arial;
    position: relative;
    background-color:#FFCB0F;

  }
  /* speech bubble 9 */
  

  
  .sb9:after {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #E5E5E5;
    border-bottom: 10px solid transparent;
    right: 50%;
    bottom: -18px;
  }
  .sb9_active:after{
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #FFCB0F;
    border-bottom: 10px solid transparent;
    right: 50%;
    bottom: -18px;
  }
  
/* review section start   */
.review{
    text-align: center;
    margin-top: 5rem;
    background-image: url('../images/bg3.jpg');
}

.review h1{
    margin: 3rem auto;
    font-size: 2.5rem;
}
.header_p{
    width: 70%;
    margin: auto;
    line-height: 1.5;
}
.review_items{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: auto;
    column-gap: 1rem;
}
.qute{
   margin-right: .5rem;
  
}
.person{
    border-radius: 50%;
    margin-top: 0;
}
.person__p{
    margin-top: .6rem;
    font-size: 900;
}
.p_active{
    color: #ffffff;
    line-height: 1.5rem;
}
.review_p{
    line-height: 1.5rem;
}


/**************/

.question {
    background-color: rgba(255, 207, 50,0.5);
}

.question_items{
    margin: 4rem auto 0 auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 1rem;
}
.question_items__content{
    text-align: left;
   
    color: #686B72;
}
.question_items__content h1{
    font-size: 2.3rem;
    margin-bottom: .4rem;
}
.question_items__content p{
    font-size: 2.5rem;
    margin-bottom: 4rem;
}
.question__form{
    margin: 3rem auto;
    text-align: left;
}
.question__form input{
    width: 40%;
    padding: .9rem;
    margin-bottom: .8rem;
    border:none;
    border-radius: 1rem;
    
}
.question__form button{
    margin-left: 1rem ;
    padding: 1rem 2rem;
    background-color: #686B72;
    color: #ffffff;
    border: none;
    border-radius: 1rem;
    font-weight: bold;
}

.QUESTION_BOTOM{
    height: 7vh;
    background-color: #686B72;
}

.footer{
    background-image: url('../images/bg2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.footer_content{
    background-color: rgba(0, 0, 0, 0.9);
}
.footer_items{
    padding: 5rem 0;
    color: #ffffff;
    display: grid;
    grid-template-columns: 30% 20% 20% 20%;
    grid-template-rows: auto;
    column-gap:2.5rem;
}
.footer_items h2{
    margin-bottom: 2rem;
    font-weight: 400;
}
.footer_items h1{
    color: #FFCB0F;
    font-style: italic;
}
.footer_items .grey_P{
    color: #484848;
    margin-bottom: 2rem;
}
.footer_items p{
    color: #c9c9c9;
}
.span_icon_footer{
    background-color: #FFCB0F;
    padding: 1rem;
    border-radius: 50%;
    color: #000;

    
}
.footer_icon{
    margin: 3rem auto;
}
.footer_item_list li{
    text-decoration: none;
    list-style: none;
    margin-bottom: .6rem;
    color: #c9c9c9;
}
.arrow_icon{
    margin-right: .9rem;
}
.footer_span{
    float: left;
    margin-right: .4rem;
    border: 1px solid #ffffff;
    padding: .5rem;
    color: #ffffff;
    border-radius: 50%;
    text-align: center;
    line-height: 1.1rem;
}
.footer_p{
    line-height: 1.5rem;
    margin-bottom: 1.2rem;
}
.mail_icon{
    margin-right: .7rem;
    margin-bottom: .4rem;
    float: left;
    color: #ffffff;
}
.mail_pr{
    margin-bottom: 1.2rem;
}
.coppy{
    text-align: center;
    height: 10vh;
    background-color: #222533;
    padding: 3rem auto;
}
.coppy p{
    padding: 2rem;
    color: #ffffff;
}
.footer__copyright{
    color: #FFCB0F;
    opacity: .7;
}



@media (max-width: 1250px){
    .service_items{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        column-gap: 1rem;
    }
    .service_item{
        text-align: center;
    }
    .service span{
        position: absolute;
        margin: -4rem -11rem;
        padding: 1rem 2.1rem;

    }
    .love__items__img{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows:  repeat(4, 1fr);
    }
    .footer_items{
   
        grid-template-columns: 33% 18% 18% 18%;
        grid-template-rows: auto;
        column-gap:2.5rem;
    }
}


@media (max-width: 1050px){
    .container{
        width: 90%;
        margin: auto;
    }
    .section__header__content {
        display: block;
        text-align: center;
    }
    .section__header__content__item{
        text-align: center;
    }
    .section__header__content__icons span{
       display: none;
    }
    .company{
        margin: 1rem auto 3rem auto;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: auto;
    }
    /* chhose */


    .choose__items{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(2,1fr);
        column-gap: 1rem;
        row-gap: 3rem;
        margin: 4rem auto;
    
    }
    .love__items{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: repeat(2, 1fr);
        column-gap: 0;
        row-gap: 1rem;
    }
    .love__items__img{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows:  repeat(4, 1fr);
        row-gap: 1rem;
    }
    .header_p{
        width: 80%;
        margin: auto;
        line-height: 1.5;
    }
    .review_items{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(2,1fr);
        column-gap: 1rem;
    }
    .footer_items{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        column-gap:2.5rem;
        text-align: center;
        row-gap: 2rem;
    }
    .arrow_icon{
        margin-right: .5rem;
    }
    .footer_p{
        margin-bottom: 3rem;
    }
    
}











@media (max-width: 900px){
    .navbar__links{
        display: none;
    }
    .toggle_menu{
        display: block;
        
    }
    .toggle{
        font-size: 2rem;
        padding-top: .2rem;
    }
    .home_Content h1{
        font-size: 3rem;
        font-weight: 900;
        margin-bottom: 1rem;
    }
    .company{
        text-align: center;
        grid-template-columns: auto;
        grid-template-rows: repeat(2,1fr);
    }
    .compnay__content p{
        margin: 0 auto 2rem auto;
        color: #484848;
        text-align: center;
        width: 80%;
     }
         /* chhose */


    .choose__items{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: repeat(4,1fr);
        column-gap: 1rem;
        row-gap: 3rem;
        margin: 4rem auto;
    }

    .service_items{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: repeat(3, 1fr);
        column-gap: auto;
        row-gap: 0;
    }
    .service_item{
        text-align: center;
    }
    .service span{
        position: absolute;
        margin: -4rem -11rem;
        padding: 1rem 2.1rem;
    }
    .service_item p{
        text-align: center;
    }
    .header_p{
        width: 95%;
        margin: auto;
        line-height: 1.5;
    }
    .review_items{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: repeat(3,1fr);
        column-gap: auto;
        row-gap: 2rem;
    }
    .love__items{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: repeat(2, 1fr);
        column-gap: auto;
        row-gap: 1rem;
    }
    .love__items__img{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows:  repeat(4, 1fr);
        row-gap: 1rem;
    }
    .love__items img{
        width: 100%;
    }
    
    .question_items{
   
        grid-template-columns:auto;
        grid-template-rows: repeat(2,1fr);
        column-gap: auto;
    }
    .question_items__content{
        text-align: center;

    }
    .question_items__content h1{
        font-size: 2.3rem;
        margin-bottom: .4rem;
    }
    .question_items__content p{
        font-size: 2.5rem;
        margin-bottom: 4rem;
    }
    .question__form{
        margin: 3rem auto;
        text-align: center;
    }
    .footer_items{
        grid-template-columns: auto;
        grid-template-rows: repeat(4, 1fr);
        column-gap:auto;
        text-align: center;
        row-gap: 2rem;
    }
}